.about {
  display: flex;
}

.about:before, .about__desc {
  display: block;
}


.about:before {
  content: "";
  width: 488px;
  height: 502px;
  background:url("../../img/about_chess.jpg") center center / cover no-repeat;
}

.about__desc {
  background: #202123;
  padding: 80px 98px;
  max-width: 780px;
  margin-left: -142px;
  margin-top: 118px;
}


.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
}

.about__desc-text {
  margin-bottom: 42px;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p:last-child {
  margin-bottom: 0;
}