.separator {
  background: #E5C288 url(../../img/online-bank.png) right 20% bottom 116% no-repeat;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #202123;
}

.separator__content {
  max-width: 48%;
}

.separator__title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
}