.hero {
  margin-bottom: 167px;
}

.hero__text-section {
  width: 38%;
}

.hero__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 17px;
}

.hero__subtitle {
  color: #D3A557;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 44px;
}