.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials {
  margin-right: 74px;
}

.socials__link {
  display: block; 
  text-decoration: none;
  width: 36px;
  height: 36px;
 position: relative;
}

.socials__item--icon--tg .socials__link:after {
content: "";
display: block;    
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 36px; height: 36px;
background: url(../../img/sprite.png) -122px -10px;
}

.socials__item--icon--tg .socials__link:hover:after {
  background-position: -178px -10px;;
}

.socials__item--icon--vk .socials__link:after {
  content: "";
  display: block;    
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; height: 36px;
  background: url(../../img/sprite.png) -234px -10px;
}

.socials__item--icon--vk .socials__link:hover:after {
  background-position: -290px -10px;
  }    

.socials__item--icon--fb .socials__link:after {
  content: "";
  display: block;    
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; height: 36px;
  background: url(../../img/sprite.png) -346px -10px;
  }
      
.socials__item--icon--fb .socials__link:hover:after {
  background-position:  -402px -10px;
  }   

.socials__item--icon--inst .socials__link:after {
  content: "";
  display: block;    
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; height: 36px;
  background: url(../../img/sprite.png) -10px -10px;
  }
      
.socials__item--icon--inst .socials__link:hover:after {
  background-position:  -66px -10px;;
  }


    